
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}


body{
  background-color: black;
}
:root {
  --primary-color: #212121;
  --secondary-color: #e0e8fa;

}
header{
  position: fixed;
  padding: 20px 0px;
  width: 100%;
  background-color: #103dbb2e;
  backdrop-filter: blur(5px);
  box-shadow: 0px 10px 28px #88888869;
}
.StarCanva{
  width: 100%;
  position: fixed;
  z-index: 11;
  height: 100%;
  
}

.container {
  width: 100%;
  padding: 0 15px;
  max-width: 1320px;
  margin: 0 auto;
}

.row {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}
li {
  list-style-type: none;
}

a {
  text-decoration: none;
}

.logo {
  width: 180px;
  cursor: pointer;
  display: flex;
}

.logo img {
  width: 100%;
}

nav ul {
  display: flex;
  align-items: center;
}


nav ul li {
  padding-left: 20px;
  padding-left: 20px;
}

nav ul li a {
  color: var(--secondary-color);
  font-weight: 600;
  font-size: 1.2rem;
  transition: 0.2s;
  display: block;
}

nav ul li a:hover {
  color: var(--orange);
  transform: scale(1.1);
}

.social-link img{
  padding-left: 12px;
  padding-right: 12px;
}

@media only screen and (max-width: 768px){
header .row{
  flex-direction: column;
  gap: 15px;
}
header{
  padding: 10px 0px;
}
.logo img {
  width: 70%;
  margin: auto;
}
.social-link{
  width: 100%;
  display: flex;
  justify-content: end;
}
.social-link img{
  width: 35px;
}
.social-link img{
  padding-left: 8px;
  padding-right: 8px;
}


}